@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lima<br />
    Santa Anita<br />
    <abbr title="Celular">Celular:</abbr>
    99698251
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@upc.edu.pe">soporte@upc.edu.pe</a><br />
    <strong>Ventas:</strong> <a href="mailto:ventas@example.com">ventas@upc.edu.pe</a>
</address>