@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Industrial Park App</h1>
    <p class="lead">Bienvenido a su aplicación donde podrá comprar todos los muebles que desee.</p>
    <p><a href="https://play.google.com/store?hl=es_PE" class="btn btn-primary btn-lg">También podrá usar nuestro app Android.</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Hola</h2>
        <p>            
        </p>        
    </div>    
</div>